CmakeCache.txt
cmake_install.cmake
CMakeFiles
*/Build/*
*/*/Build/*
*/ALL_BUILD.*
*/CMakeFiles/*
*/Debug/*
*/Release/*
*/.idea/*
*/venv/*
*/.vs/*
*.asv
*.db
*.dblite
*.dll
*.exe
*.filters
.github
.idea
*.ilk
*.lib
*.obj
*.pdb
*.pyc
*.qm
*.sln
*.tlog
*.user
*.vcxproj
.vs
venv

