CmakeCache.txt
cmake_install.cmake
CMakeFiles
*.vcxproj
*.filters
*.user
*.sln
*.db
*.dblite
*.obj
*.pdb
*.tlog
*.qm
.vs
.github
*/Build/*
*/ALL_BUILD.*
*/CMakeFiles/*
*/Debug/*
*/Release/*
*/.idea/*
*/venv/*
*/.vs/*
*.exe
*.dll
*.ilk

